$fonts: (
	'primary': 'Raleway',
);

$palette: (
	'background': #f5f5f5,
	'paper': #ffffff,
	'text': #111,
	'divider': #e0e0e0,
);

$breakpoints: (
	// Mobile
	'telephone': 375px,

	// Tablet
	'tablet-sm': 600px,
	'tablet': 768px,

	// Desktop
	'desktop': 1024px,
	'desktop-lg': 1440px,
	'desktop-4k': 2560px
);
