@use "@scss/helpers/variables" as v;
@use "@scss/helpers/mixins" as m;

.container {
  max-width: 76.8rem;
  margin: 0 auto;
  padding: 0 2rem;

  // & > * {
  // border: 1px solid red;
  // }

  @include m.lg {
    max-width: 102.4rem;
    padding: 0 3.2rem;
  }

  @include m.xl {
    max-width: 144rem;
    padding: 0 6.1rem;
  }
}

.section {
  margin-top: 4rem;
}
